MAC_AGENT_VPS_HOST=''
MAC_AGENT_VPS_USER=''
MAC_AGENT_VPS_PORT=''
MAC_AGENT_TUNNEL_PORT=''
MAC_AGENT_PASSWORD=''
MAC_AGENT_TURN_URL=''
MAC_AGENT_TURN_USER=''
MAC_AGENT_TURN_PASS=''
MAC_AGENT_DOMAIN=''
